@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul, li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
/*-------Переманные---------*/
/*------------------------------*/
/*-------Миксины---------*/
/*------------------------------*/
@font-face {
  font-family: 'SegoeWPN';
  src: url("font-size/ofont.ru_Segoe WP.eot");
  src: local("☺"), url("../../fonts/ofont.ru_Segoe WP.woff") format("woff"), url("../../fonts/ofont.ru_Segoe WP.ttf") format("truetype"), url("../../fonts/ofont.ru_Segoe WP.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Conv_CONSTAN';
  src: url("CONSTAN/CONSTAN.eot");
  src: local("☺"), url("CONSTAN/CONSTAN.woff") format("woff"), url("CONSTAN/CONSTAN.ttf") format("truetype"), url("CONSTAN/CONSTAN.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Conv_4256';
  src: url("4256.eot");
  src: local("☺"), url("4256.woff") format("woff"), url("/4256.ttf") format("truetype"), url("4256.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*------------ШРИФТЫ--------------*/
header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; }

.opacity {
  display: block !important; }

.header {
  width: 100%;
  background: #F0F3F8;
  height: 52px;
  padding: 0px 50px; }
  @media (max-width: 1200px) {
    .header {
      padding: 0px 20px; } }
  .header__conteiner {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between; }
  .header__button {
    background: linear-gradient(180deg, #2A4B81 0%, #112648 100%);
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 30px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #fff; }
    @media (max-width: 768px) {
      .header__button {
        display: none; } }
  .header__phone {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #112648;
    cursor: pointer; }
    @media (max-width: 1200px) {
      .header__phone {
        font-size: 15px; } }
    @media (max-width: 768px) {
      .header__phone {
        font-weight: 500;
        font-size: 13px; } }
  .header__adress {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    color: #112648; }
    @media (max-width: 1200px) {
      .header__adress {
        font-size: 12px; } }
    @media (max-width: 768px) {
      .header__adress {
        display: none; } }

.nav {
  width: 100%;
  background: #fff;
  height: 150px;
  padding: 10px 0px; }
  @media (max-width: 768px) {
    .nav {
      height: 95px; } }
  .nav__wrapper {
    border-top: 2px solid #F0F3F8;
    border-bottom: 2px solid #F0F3F8;
    height: 100%;
    width: 100%; }
  .nav__conteiner {
    max-width: 1540px;
    padding: 0px 50px;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1200px) {
      .nav__conteiner {
        padding: 0px 20px; } }
  .nav__menu {
    display: flex; }
    @media (max-width: 900px) {
      .nav__menu {
        display: none; } }
  .nav__logo img {
    width: 100%; }
  @media (max-width: 768px) {
    .nav__logo {
      width: 100px; } }
  .nav__link > a {
    font-family: " Conv_CONSTAN";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #112648; }
    @media (max-width: 1200px) {
      .nav__link > a {
        font-size: 13px; } }
  .nav__link {
    margin-right: 30px; }
    @media (max-width: 1200px) {
      .nav__link {
        margin-right: 10px; } }
    .nav__link:last-child {
      margin-right: 0px; }
  .nav__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px; }
    @media (max-width: 900px) {
      .nav__burger {
        display: flex; } }
    @media (max-width: 768px) {
      .nav__burger {
        width: 30px;
        height: 25px; } }
    .nav__burger span {
      display: flex;
      width: 100%;
      height: 3px;
      background: #112648; }

.slaider {
  width: 100%;
  background: #F0F3F8;
  padding: 50px 50px 50px 50px; }
  @media (max-width: 1200px) {
    .slaider {
      padding: 30px 20px; } }
  .slaider__conteiner {
    max-width: 1540px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 600px;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    @media (max-width: 1200px) {
      .slaider__conteiner {
        height: 400px; } }
    @media (max-width: 768px) {
      .slaider__conteiner {
        height: 300px; } }
    @media (max-width: 510px) {
      .slaider__conteiner {
        height: 200px; } }
    .slaider__conteiner img {
      position: absolute;
      width: 100%;
      height: 100%; }
      @media (max-width: 768px) {
        .slaider__conteiner img {
          position: relative;
          height: 100%; } }
  .slaider__item {
    font-family: 'Conv_4256';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 74px;
    letter-spacing: 0.08em;
    color: #112648;
    text-align: center;
    display: none; }
    @media (max-width: 1200px) {
      .slaider__item {
        font-size: 40px;
        line-height: 54px; } }
    @media (max-width: 768px) {
      .slaider__item {
        font-size: 32px;
        line-height: 38px; } }
  .slaider__content {
    max-width: 1540px;
    display: flex;
    margin: 50px 0px 0px 0px;
    flex-direction: column;
    margin: 0 auto;
    height: 200px;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative; }
    @media (max-width: 1200px) {
      .slaider__content {
        height: 200px; } }
  .slaider__text {
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    font-size: 16px;
    color: #112648;
    max-width: 616px;
    margin-bottom: 20px; }
    @media (max-width: 1200px) {
      .slaider__text {
        font-size: 14px; } }
    @media (max-width: 768px) {
      .slaider__text {
        width: 250px; } }
  .slaider__button {
    background: linear-gradient(180deg, #2A4B81 0%, #112648 100%);
    border-radius: 5px;
    width: 280px;
    min-height: 55px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-end; }
    @media (max-width: 768px) {
      .slaider__button {
        width: 200px;
        min-height: 35px;
        font-size: 12px; } }

.client {
  width: 100%;
  padding: 75px 20px 75px 20px; }
  @media (max-width: 1200px) {
    .client {
      padding: 30px 20px; } }
  .client .client__conteiner {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; }
  .client__content {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  @media (max-width: 768px) {
    .client__column.bottom {
      margin-top: 60px; } }
  .client__item {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 40px; }
    @media (max-width: 768px) {
      .client__item {
        width: 100px;
        height: 100px;
        margin-bottom: 20px; } }
    .client__item:last-child {
      margin-bottom: 0px; }
    .client__item img {
      width: 100%;
      height: 100%; }
  .client__item.bottom_left {
    left: 70px; }
    @media (max-width: 1200px) {
      .client__item.bottom_left {
        left: 0px; } }
  .client__item.bottom_right {
    right: 70px; }
    @media (max-width: 1200px) {
      .client__item.bottom_right {
        right: 0px; } }
  @media (max-width: 1200px) {
    .client__images {
      display: none; } }
  .client__text {
    position: absolute;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    width: 250px;
    text-align: center;
    color: #112648;
    z-index: 2; }
    @media (max-width: 1200px) {
      .client__text {
        font-size: 16px;
        width: 200px; } }
    @media (max-width: 768px) {
      .client__text {
        font-size: 12px;
        width: 150px;
        line-height: 18px; } }
  .client__text.left {
    left: 50%;
    top: 50%; }
  .client__text.right {
    right: 50%;
    top: 50%; }

.services {
  width: 100%;
  padding: 75px 20px;
  background: #F0F3F8; }
  @media (max-width: 1200px) {
    .services {
      padding: 30px 20px; } }
  .services__conteiner {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .services__item {
    width: 350px;
    padding: 40px 40px 35px 40px;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 0px 0px 30px 0px; }
    @media (max-width: 1200px) {
      .services__item {
        padding: 30px 30px 25px 30px;
        width: 300px; } }
    @media (max-width: 768px) {
      .services__item {
        width: 70%; } }
    @media (max-width: 510px) {
      .services__item {
        width: 100%; } }
  .services__image {
    height: 100%;
    height: 300px; }
    @media (max-width: 768px) {
      .services__image {
        width: 100%;
        height: 100%; } }
  .services__main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .services__main {
        display: none; } }
  .services__link {
    cursor: pointer; }
  .services__main.active {
    display: none; }
    @media (max-width: 768px) {
      .services__main.active {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center; } }
  .services__line_big {
    background: #112648;
    height: 2px;
    width: 100%;
    display: flex;
    opacity: .5;
    margin: 20px 0px 20px 0px; }
    @media (max-width: 1200px) {
      .services__line_big {
        margin: 20px 0px 20px 0px; } }
  .services__line_small {
    background: #112648;
    height: 41px;
    width: 2px;
    display: flex;
    opacity: .5; }
  .services__title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #112648;
    margin-top: 20px; }
  .services__footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .services__subtitle {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #112648;
    cursor: pointer; }

.our {
  width: 100%;
  padding: 75px 50px; }
  @media (max-width: 1200px) {
    .our {
      padding: 30px 20px; } }
  .our__conteiner {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 1540px;
    align-items: center;
    align-items: flex-end; }
    @media (max-width: 1024px) {
      .our__conteiner {
        justify-content: center; } }
  .our__column {
    height: 100%; }
    @media (max-width: 1024px) {
      .our__column {
        display: none; } }
  .our__main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 740px;
    margin: 0px 30px 0px 30px; }
    @media (max-width: 768px) {
      .our__main {
        margin: 0px 0px 0px 0px; } }
  .our__title {
    font-family: Conv_CONSTAN;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #112648; }
    @media (max-width: 1200px) {
      .our__title {
        font-size: 26px;
        line-height: 40px; } }
    @media (max-width: 768px) {
      .our__title {
        font-size: 20px; } }
  .our__text {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #112648;
    margin: 30px 0px 40px 0px; }
    @media (max-width: 768px) {
      .our__text {
        margin: 20px 0px 20px 0px; } }
    @media (max-width: 768px) {
      .our__text {
        font-size: 14px; } }
  .our__images {
    width: 50px;
    margin-bottom: 20px; }
  .our__slang {
    width: 200px; }

.step {
  width: 100%;
  padding: 75px 50px;
  background: #F0F3F8; }
  @media (max-width: 1200px) {
    .step {
      padding: 30px 20px; } }
  .step__conteiner {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .step__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .step__column {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .step__column.bottom {
    display: none; }
    @media (max-width: 768px) {
      .step__column.bottom {
        display: flex;
        justify-content: center; } }
  .step__column.center {
    width: 60%;
    margin: 50px 0px 0px 0px; }
    @media (max-width: 768px) {
      .step__column.center {
        width: 100%;
        margin: 30px 0px 30px 0px; } }
  .step__item {
    width: 350px;
    display: flex;
    align-items: center;
    margin-right: 10px; }
    @media (max-width: 768px) {
      .step__item {
        flex-direction: column; } }
    .step__item:last-child {
      margin-right: 0px; }
  .step__item.hidden {
    display: none; }
    @media (max-width: 768px) {
      .step__item.hidden {
        display: flex; } }
  .step__item.open {
    display: flex; }
    @media (max-width: 768px) {
      .step__item.open {
        display: none; } }
  .step__title {
    margin-left: 30px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 125.9%;
    color: #112648; }
    @media (max-width: 1200px) {
      .step__title {
        font-size: 16px;
        margin-left: 20px;
        line-height: 110.9%; } }
    @media (max-width: 768px) {
      .step__title {
        margin-left: 0px;
        margin-top: 20px;
        text-align: center;
        font-size: 14px; } }

.feedback {
  width: 100%;
  padding: 75px 50px; }
  @media (max-width: 1200px) {
    .feedback {
      padding: 30px 20px; } }
  .feedback__conteiner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .feedback__slaider {
    max-width: 100%;
    display: flex;
    position: relative;
    margin-top: 80px;
    margin-bottom: 30px;
    align-items: flex-end; }
    @media (max-width: 1200px) {
      .feedback__slaider {
        margin-top: 40px; } }
    @media (max-width: 1400px) {
      .feedback__slaider {
        margin-bottom: 100px; } }
  .feedback__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: -35px;
    border: 5px solid #fff;
    z-index: 3; }
    .feedback__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .feedback__item {
    display: flex;
    flex-direction: column;
    flex: 33%;
    position: relative;
    padding: 55px 50px 50px 50px;
    margin-right: 40px;
    align-items: center;
    background: #F0F3F8;
    overflow: none;
    box-shadow: inset 2px -3px 6px rgba(0, 0, 0, 0.1), inset -6px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 30px; }
    @media (max-width: 768px) {
      .feedback__item {
        margin-right: 0px;
        padding: 30px 30px 30px 30px; } }
    .feedback__item:last-child {
      margin-right: 0px; }
  .feedback__name {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #112648; }
  .feedback__text {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #112648; }
    @media (max-width: 768px) {
      .feedback__text {
        font-size: 14px; } }
  .feedback .slick-arrow {
    position: absolute;
    background: #112648;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 0px;
    box-shadow: 4px 4px 10px rgba(156, 156, 156, 0.25), inset 2px -3px 6px rgba(0, 0, 0, 0.25), inset -6px 4px 4px rgba(255, 255, 255, 0.25); }
  .feedback .slick-arrow.slick-next {
    right: -5%;
    top: 40%;
    background-image: url(img/arrow-next.svg);
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 1400px) {
      .feedback .slick-arrow.slick-next {
        right: 40%;
        top: 110%; } }
    @media (max-width: 768px) {
      .feedback .slick-arrow.slick-next {
        right: 20%; } }
  .feedback .slick-arrow.slick-prev {
    left: -7%;
    top: 40%;
    background-image: url(img/arrow-next.svg);
    background-position: center;
    background-repeat: no-repeat;
    transform: rotateY(180deg); }
    @media (max-width: 1400px) {
      .feedback .slick-arrow.slick-prev {
        left: 40%;
        top: 110%; } }
    @media (max-width: 768px) {
      .feedback .slick-arrow.slick-prev {
        left: 20%; } }

.slick-slaider {
  max-width: 100%; }

.feedback__slaider .slick-list {
  overflow-x: hidden;
  padding: 30px 0px 0px 0px; }

.slick-track {
  display: flex; }

.buy {
  background: #F0F3F8;
  width: 100%;
  padding: 75px 0px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (max-width: 1200px) {
    .buy {
      padding: 30px 0px; } }
  .buy .wf {
    width: 400px; }
  .buy__conteiner {
    max-width: 1280px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px; }
    @media (max-width: 768px) {
      .buy__conteiner {
        flex-direction: column;
        width: 100%;
        align-items: center; } }
  .buy__item {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 35px 40px;
    display: flex;
    width: 33%;
    margin-right: 20px;
    align-items: center;
    flex-direction: column;
    background: #fff; }
    .buy__item:last-child {
      margin-right: 0px; }
    @media (max-width: 1200px) {
      .buy__item {
        padding: 30px 30px 25px 30px; } }
    @media (max-width: 768px) {
      .buy__item {
        width: 70%;
        margin-bottom: 20px;
        margin-right: 0px; } }
    @media (max-width: 510px) {
      .buy__item {
        width: 100%; } }
    .buy__item img {
      width: 100%; }
      @media (max-width: 768px) {
        .buy__item img {
          width: 100%; } }
  .buy__link {
    cursor: pointer; }
  .buy__line_big {
    background: #112648;
    height: 2px;
    width: 100%;
    display: flex;
    opacity: .5;
    margin: 30px 0px 20px 0px; }
    @media (max-width: 1200px) {
      .buy__line_big {
        margin: 20px 0px 20px 0px; } }
  .buy__line_small {
    background: #112648;
    height: 41px;
    width: 2px;
    display: flex;
    opacity: .5; }
  .buy__title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #112648;
    margin-top: 20px; }
  .buy__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .buy__subtitle {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #112648;
    cursor: pointer; }
  .buy__salon {
    background: #E6E9F1;
    box-shadow: inset 2px -3px 6px rgba(0, 0, 0, 0.1), inset -6px 4px 4px rgba(255, 255, 255, 0.25);
    padding: 40px 30px;
    margin-top: 40px;
    width: 100%; }
    .buy__salon .salon__conteiner {
      max-width: 1540px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .buy__salon .salon__content {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin-right: 20px; }
      @media (max-width: 768px) {
        .buy__salon .salon__content {
          margin-right: 10px; } }
    .buy__salon .salon__title {
      font-family: 'Merriweather';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      color: #112648;
      margin-bottom: 15px; }
      @media (max-width: 768px) {
        .buy__salon .salon__title {
          font-size: 18px; } }
    .buy__salon .salon__text {
      font-family: 'Merriweather';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      color: #112648; }
      @media (max-width: 768px) {
        .buy__salon .salon__text {
          font-size: 12px; } }
    .buy__salon .salon__galary {
      display: flex;
      flex-direction: column;
      width: 550px; }
      @media (max-width: 900px) {
        .buy__salon .salon__galary {
          display: none; } }
    .buy__salon .salon__row {
      width: 100%;
      display: flex;
      justify-content: space-between; }
    .buy__salon .salon__link {
      min-width: 60px;
      min-height: 60px;
      margin-left: 20px;
      border-radius: 50%;
      position: relative;
      border: 1.51546px solid #112648; }
      @media (max-width: 768px) {
        .buy__salon .salon__link {
          margin-left: 10px; } }
      .buy__salon .salon__link img {
        position: absolute;
        left: 40%;
        top: 35%; }

.pacet {
  width: 100%;
  padding: 75px 50px; }
  @media (max-width: 1200px) {
    .pacet {
      padding: 30px 20px; } }
  .pacet__conteiner {
    max-width: 1540px;
    margin: 40px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; }
  .pacet__main {
    display: flex;
    width: 100%;
    margin-top: 40px; }
    @media (max-width: 1200px) {
      .pacet__main {
        margin-top: 30px; } }
  .pacet__tabs {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .pacet__tabs {
        width: 100%; } }
  .pacet__tab {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 25px 20px;
    border-radius: 5px;
    margin-bottom: 25px;
    position: relative;
    color: #ffff; }
  .pacet__tab.active {
    color: #112648; }
  .pacet__content {
    display: flex;
    z-index: 1;
    flex-direction: column; }
  .pacet__title {
    margin-bottom: 15px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase; }
    @media (max-width: 1200px) {
      .pacet__title {
        font-size: 18px; } }
  .pacet__overflow {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0; }
  .pacet__overflow1 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0; }
  .pacet__overflow.active {
    background-color: rgba(255, 255, 255, 0.5); }
  .pacet__text {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 16px; }
  .pacet__slung {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #112648;
    margin: 20px 0px 20px 0px; }
  .pacet__button {
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #112648;
    cursor: pointer;
    border: 1.5px solid #112648;
    border-radius: 5px;
    padding: 20px 40px;
    background-color: #fff; }
  .pacet__view {
    width: 60%;
    display: none;
    margin-left: 50px;
    position: relative; }
    @media (max-width: 1200px) {
      .pacet__view {
        margin-left: 30px; } }
  .pacet__view.active {
    display: flex; }
    @media (max-width: 768px) {
      .pacet__view.active {
        display: none; } }
  .pacet__view.adap {
    width: 100%;
    display: none;
    margin-left: 0px;
    margin-bottom: 20px; }
  @media (max-width: 768px) {
    .pacet__view.adap.active {
      display: flex; } }
  .pacet__backgraund {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%; }
  .pacet__item {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 1;
    flex-direction: column;
    padding: 60px 0px 60px 0px;
    background-color: rgba(255, 255, 255, 0.5); }
  .pacet__sale {
    margin: 20px 0px 30px 0px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    line-height: 23px;
    color: #112648; }
  .pacet__rubric {
    display: flex;
    flex-direction: column; }
  .pacet__li {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #112648;
    margin-bottom: 15px;
    position: relative; }
    .pacet__li:last-child {
      margin-bottom: 0px; }
    .pacet__li:after {
      content: " ";
      position: absolute;
      left: -30px;
      top: 30%;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      background-image: url(img/pacet-vector.svg); }
    .pacet__li:before {
      content: " ";
      position: absolute;
      right: -30px;
      top: 30%;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-image: url(img/pacet-vector.svg); }

.sale {
  width: 100%;
  padding: 75px 50px;
  background: #F0F3F8; }
  @media (max-width: 1200px) {
    .sale {
      padding: 30px 20px; } }
  @media (max-width: 768px) {
    .sale {
      padding: 30px 0px; } }
  .sale__conteiner {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sale__main {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 0px 0px; }
    @media (max-width: 768px) {
      .sale__main {
        flex-direction: column;
        width: 100%;
        margin: 20px 0px 0px 0px; } }
  .sale__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    @media (max-width: 768px) {
      .sale__column {
        width: 100%; } }
  .sale__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    position: relative; }
    @media (max-width: 1200px) {
      .sale__item {
        margin-bottom: 20px; } }
    @media (max-width: 768px) {
      .sale__item {
        padding: 15px 0px;
        margin-bottom: 0px; } }
    .sale__item:last-child {
      margin-bottom: 0px; }
  .sale__column.img {
    height: 100%;
    margin: 0px 40px; }
    @media (max-width: 768px) {
      .sale__column.img {
        display: none; } }
  .sale__img {
    padding: 30px;
    height: 100%;
    width: 100%;
    min-width: 400px;
    background: #fff; }
    .sale__img img {
      width: 100%;
      height: 100%; }
  .sale__back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none; }
    @media (max-width: 768px) {
      .sale__back {
        display: flex; } }
  .sale__overflow {
    position: absolute;
    left: 0;
    display: none;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); }
    @media (max-width: 768px) {
      .sale__overflow {
        display: flex; } }
  .sale__title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    font-size: 20px;
    z-index: 1;
    color: #112648;
    text-align: center; }
    @media (max-width: 768px) {
      .sale__title {
        font-size: 18px; } }
  .sale__span {
    height: 3px;
    background: #163669;
    display: flex;
    width: 100%;
    z-index: 1;
    margin-top: 20px;
    border-radius: 3px; }
    @media (max-width: 1200px) {
      .sale__span {
        margin-top: 10px; } }
    @media (max-width: 768px) {
      .sale__span {
        display: none; } }
  .sale__false {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    z-index: 1;
    margin-top: 10px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    color: #112648;
    opacity: 0.7; }
    @media (max-width: 768px) {
      .sale__false {
        font-size: 16px; } }
  .sale__true {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    z-index: 1;
    color: #112648; }
    @media (max-width: 768px) {
      .sale__true {
        font-size: 16px; } }
  .sale__slang {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #112648;
    margin: 20px 0px 20px 0px;
    text-align: center; }
  .sale__timer {
    display: flex;
    align-items: center; }
  .sale__date {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sale__number {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    color: #112648; }
    @media (max-width: 768px) {
      .sale__number {
        font-size: 30px; } }
  .sale__day {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #AAAAAA; }
  .sale__two {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    color: #000000;
    margin: 0px 20px 0px 20px; }
    @media (max-width: 768px) {
      .sale__two {
        font-size: 30px;
        margin: 0px 10px 0px 10px; } }

.blog {
  width: 100%;
  padding: 75px 50px;
  background: #F0F3F8; }
  @media (max-width: 1200px) {
    .blog {
      padding: 30px 20px; } }
  .blog__conteiner {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .blog__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px; }
  .blog__item {
    width: 100%;
    display: flex;
    background: #fff; }
    @media (max-width: 768px) {
      .blog__item {
        flex-direction: column; } }
  .blog__image {
    width: 50%;
    display: flex; }
    @media (max-width: 768px) {
      .blog__image {
        order: 1;
        width: 100%; } }
    .blog__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .blog__content {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px 50px 40px 60px; }
    @media (max-width: 1200px) {
      .blog__content {
        padding: 20px 40px 20px 45px; } }
    @media (max-width: 768px) {
      .blog__content {
        order: 2;
        width: 100%;
        padding: 15px 20px 15px 25px; } }
  .blog__title {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #112648; }
  .blog__date {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #112648;
    margin: 20px 0px; }
    .blog__date img {
      margin-right: 10px; }
    @media (max-width: 768px) {
      .blog__date {
        margin: 10px 0px; } }
  .blog__text {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #112648; }
    @media (max-width: 1200px) {
      .blog__text {
        font-size: 14px; } }
    @media (max-width: 768px) {
      .blog__text {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: #112648; } }
  .blog__button {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    border: 1.5px solid #112648;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #112648;
    width: 300px;
    cursor: pointer;
    padding: 20px 0px;
    margin-top: 30px; }
    @media (max-width: 1200px) {
      .blog__button {
        padding: 15px 0px;
        font-size: 14px;
        width: 200px; } }
    @media (max-width: 768px) {
      .blog__button {
        margin-top: 20px; } }

body .contaner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  body .contaner footer {
    display: flex;
    justify-content: center;
    background: #CFCFCF;
    padding: 60px 0;
    width: 100%; }
    body .contaner footer .foot {
      display: flex;
      width: 85%;
      flex-direction: column;
      align-items: center; }
      body .contaner footer .foot .ft1 {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center; }
        body .contaner footer .foot .ft1 .ft2 {
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: center; }
          body .contaner footer .foot .ft1 .ft2 .sections_foot {
            display: flex;
            width: 50%;
            justify-content: space-between; }
            body .contaner footer .foot .ft1 .ft2 .sections_foot li a {
              font-family: Merriweather;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 23px;
              color: #112648; }
          body .contaner footer .foot .ft1 .ft2 .contacs_foot {
            display: flex;
            width: 70%;
            justify-content: space-between;
            padding-top: 30px; }
            body .contaner footer .foot .ft1 .ft2 .contacs_foot li a {
              font-family: Montserrat;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 20px;
              color: #112648; }
      body .contaner footer .foot .main_foot {
        display: flex;
        width: 100%;
        margin-top: 70px;
        justify-content: space-between; }
        body .contaner footer .foot .main_foot .main_foot_sections1 {
          display: flex;
          flex-direction: column; }
          body .contaner footer .foot .main_foot .main_foot_sections1 li + li {
            margin-top: 20px; }
          body .contaner footer .foot .main_foot .main_foot_sections1 li a {
            font-family: Merriweather;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            color: #112648; }
        body .contaner footer .foot .main_foot .main_foot_div {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center; }
          body .contaner footer .foot .main_foot .main_foot_div .logo_foot {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
            body .contaner footer .foot .main_foot .main_foot_div .logo_foot img {
              width: 80%; }
          body .contaner footer .foot .main_foot .main_foot_div .social_network {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 50px; }
            body .contaner footer .foot .main_foot .main_foot_div .social_network a {
              display: flex;
              align-items: center;
              justify-content: center; }
              body .contaner footer .foot .main_foot .main_foot_div .social_network a img {
                width: 23.24px;
                height: 23.24px; }
              body .contaner footer .foot .main_foot .main_foot_div .social_network a .vk {
                width: 25px;
                height: 16px; }
              body .contaner footer .foot .main_foot .main_foot_div .social_network a .telegramm {
                width: 23px;
                height: 20px; }
          body .contaner footer .foot .main_foot .main_foot_div .bank_footer {
            margin-top: 40px;
            display: flex;
            width: 100%;
            justify-content: space-around; }
            body .contaner footer .foot .main_foot .main_foot_div .bank_footer a {
              width: 20%;
              height: 48px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #FFFFFF;
              border: 1px solid #D9D9D9;
              box-sizing: border-box;
              border-radius: 6px; }
              body .contaner footer .foot .main_foot .main_foot_div .bank_footer a img {
                width: 70%; }
        body .contaner footer .foot .main_foot .sections2 {
          align-items: flex-end; }
      body .contaner footer .foot .footer_main2 {
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        body .contaner footer .foot .footer_main2 .footer_main2_div {
          order: 1;
          width: 40%;
          display: flex;
          flex-direction: column; }
          body .contaner footer .foot .footer_main2 .footer_main2_div p {
            font-family: Merriweather;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: justify;
            color: #112648;
            opacity: 0.5; }
          body .contaner footer .foot .footer_main2 .footer_main2_div .a1 {
            display: flex;
            justify-content: space-between;
            align-items: center; }
            body .contaner footer .foot .footer_main2 .footer_main2_div .a1 .a2 {
              width: 70%;
              display: flex;
              flex-direction: column; }
              body .contaner footer .foot .footer_main2 .footer_main2_div .a1 .a2 .one {
                margin-top: 18px; }
              body .contaner footer .foot .footer_main2 .footer_main2_div .a1 .a2 a {
                font-family: Merriweather;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                color: #112648;
                opacity: 0.5; }
            body .contaner footer .foot .footer_main2 .footer_main2_div .a1 img {
              display: none;
              width: 30%; }
        body .contaner footer .foot .footer_main2 .footer_main2_div2 {
          order: 2;
          display: flex;
          flex-direction: column;
          width: 33%;
          align-items: center; }
          body .contaner footer .foot .footer_main2 .footer_main2_div2 p {
            font-family: Merriweather;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            align-self: flex-end;
            color: #112648;
            width: 70%;
            text-align: right;
            line-height: 18px; }
          body .contaner footer .foot .footer_main2 .footer_main2_div2 form {
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: column; }
            body .contaner footer .foot .footer_main2 .footer_main2_div2 form input {
              margin-bottom: 10px;
              background: none;
              opacity: 0.5;
              border: 1.5px solid #112648;
              box-sizing: border-box;
              border-radius: 5px;
              padding: 10px 0 10px 16px; }
            body .contaner footer .foot .footer_main2 .footer_main2_div2 form button {
              background: linear-gradient(180deg, #2A4B81 0%, #112648 100%);
              border-radius: 5px;
              font-family: Merriweather;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 18px;
              letter-spacing: 0.09em;
              color: #FFFFFF;
              padding: 10px 0;
              align-self: center;
              width: 100%; }

@media (max-width: 1170px) {
  body .contaner footer .foot .ft1 .ft2 {
    width: 70%; }
  body .contaner footer .foot .ft1 .ft2 .sections_foot {
    width: 100%; }
  body .contaner footer .foot .ft1 .ft2 .contacs_foot {
    width: 100%; } }

@media (max-width: 950px) {
  body .contaner footer .foot .ft1 .ft2 {
    width: 90%; }
  body .contaner footer .foot .ft1 .ft2 .sections_foot {
    width: 100%; }
  body .contaner footer .foot .ft1 .ft2 .contacs_foot {
    width: 100%; } }

@media (max-width: 768px) {
  body .contaner footer .foot .ft1 .ft2 .sections_foot {
    display: none; }
  body .contaner footer .foot .ft1 {
    justify-content: space-between;
    align-items: center; }
  body .contaner footer .foot .ft1 .ft2 {
    align-items: flex-end; }
  body .contaner footer .foot .ft1 .ft2 .contacs_foot {
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    text-align: right;
    width: 100%; }
  body .contaner footer .foot .ft1 .ft2 .contacs_foot .ulica {
    margin-top: 17px; }
  body .contaner footer .foot .main_foot {
    justify-content: center;
    margin-top: 40px; }
  body .contaner footer .foot .main_foot .main_foot_sections1 {
    display: none; }
  body .contaner footer .foot .main_foot .main_foot_div {
    width: 80%; }
  body .contaner footer .foot .main_foot .main_foot_div .logo_foot {
    display: none; }
  body .contaner footer .foot .main_foot .main_foot_div .social_network {
    margin: 0; }
  body .contaner footer .foot .footer_main2 {
    flex-direction: column;
    align-items: center;
    width: 95%; }
  body .contaner footer .foot .footer_main2 .footer_main2_div {
    width: 100%;
    order: 2; }
  body .contaner footer .foot .footer_main2 .footer_main2_div .a1 img {
    display: block; }
  body .contaner footer .foot .footer_main2 .footer_main2_div2 {
    order: 1;
    margin-bottom: 35px;
    width: 100%; }
    body .contaner footer .foot .footer_main2 .footer_main2_div2 p {
      width: 100%;
      align-self: center;
      text-align: center; } }

.button {
  background: linear-gradient(180deg, #2A4B81 0%, #112648 100%);
  border-radius: 5px;
  padding: 20px 100px 20px 70px;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  transition: .3s all; }
  @media (max-width: 510px) {
    .button {
      width: 80%;
      font-size: 14px;
      padding: 20px 30px 20px 30px; } }
  .button img {
    position: absolute;
    right: 30px;
    top: 20px; }
    @media (max-width: 510px) {
      .button img {
        right: 10px; } }
  .button:hover {
    background: linear-gradient(180deg, #617EAC 0%, #2E405C 100%); }

.subtitle {
  width: 50%;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #112648;
  margin: 20px 0px 50px 0px; }
  @media (max-width: 1200px) {
    .subtitle {
      font-size: 14px; } }
  @media (max-width: 768px) {
    .subtitle {
      font-size: 12px;
      width: 80%;
      margin: 20px 0px 20px 0px; } }

.title {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (max-width: 768px) {
    .title {
      width: 80%; } }
  .title__span {
    width: 183px;
    height: 1px;
    background: #112648;
    border-radius: 2px;
    display: flex; }
  .title__text {
    font-family: Conv_CONSTAN;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    margin: 10px 0px;
    text-align: center;
    text-transform: lowercase;
    color: #112648; }
    @media (max-width: 1200px) {
      .title__text {
        font-size: 26px; } }
