/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul ,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
/*-------Переманные---------*/
	$color:px;
	$width:90%;
	$width1:510px;
	$width2:768px;
	$width3:1024px;
	$background1:px;
	$background2:px;
	$font1:px;
	$font2:px;
	$font3:px;
	$font4:px;
	$font5:px;
/*------------------------------*/

/*-------Миксины---------*/
@mixin flexbox{ display:-webkit-flex; display:-ms-flexbox; display: flex;}
@mixin flex($property){ -webkit-box-flex:$property; -webkit-flex:$property;-ms-flex:$property;flex:$property;}
@mixin transform($property){-webkit-transform: $property; -ms-transform: $property; transform: $property;}
@mixin animation($property){-webkit-animation:$property; animation:$property;}
@mixin filter($property){-webkit-filter:$property; filter:$property;}
@mixin grid{display: -ms-grid; display:grid;} 
@mixin column($propertyfirst,$propertysecond,$propertythird,$propertyfourth){column-count:$propertyone;-moz-column-count:$propertyone;-webkit-column-count:$propertyone;column-gap:$propertysecond;-moz-column-gap:$propertysecond;-webkit-column-gap:$propertysecond;column-rule:$propertythird;-moz-column-rule:$propertythird;-webkit-column-rule:$propertythird;column-width:$propertyfourth;-webkit-column-width:$propertyfourth;-moz-column-width:$propertyfourth;}
@mixin object-fit($property){-o-object-fit:$property;object-fit:$property;}
/*------------------------------*/
@font-face {
	font-family: 'SegoeWPN';
	src: url('font-size/ofont.ru_Segoe WP.eot');
	src: local('☺'), url('../../fonts/ofont.ru_Segoe WP.woff') format('woff'), url('../../fonts/ofont.ru_Segoe WP.ttf') format('truetype'), url('../../fonts/ofont.ru_Segoe WP.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
/*------------ШРИФТЫ--------------*/
body{
	font-family: 'Nunito', sans-serif;
}
.color-id{
	color:#C6576B !important;
}
.color-bg{
	background:#C6576B !important; 
}
.header__burger.active .center-line{
	@include transform(scale(0)); 
}
.header__burger.active .top-line{
	@include transform(rotate(-45deg) );
	top:12px; 
}
.header__burger.active .bottom-line{
	@include transform(rotate(45deg));
	top:-12px; 
}
.dropdown.active{
	top:70px;
}
.dropdown{
	display:none; 
	width:100%;
	padding:20px 0px 20px 20px;
	background:#fff;
	z-index:4; 
	position:fixed;
	left:0;
	top:-300px;
	transition:.5s all; 
	@media(max-width:768px){
		display:block; 
	}
	&__conteiner{
		@include flexbox;
		max-width:1200px;
		margin:0 auto; 
		flex-direction:column; 
	}
	.dropdown__link{
		color:#000; 
		font-weight:600;  
		font-size:16px;
		margin-bottom:6px;
		&:last-child{
			margin-bottom:0px;
		} 
	}
}
.header{
	width:100%;
	height:100vh;
	position:relative; 
	&__bg{
		width:100%;
		object-fit:cover;
		object-position:center;
		position:absolute;
		left:0; 
		top:0;    
		height:100%;  
	}
	&__overlay{
		background-color: rgba(38, 40, 43, 0.72);
    	position: absolute;
    	top: 0;
    	right: 0;
    	z-index:1; 
    	width: 100%;
    	height: 100%;
	}
	&__conteiner{
		display:flex;
		z-index:2;position:relative;  
		flex-direction:column;
		height:100%;
		justify-content:center; 
		align-items:center;  
		padding:0px 20px;
		max-width:1200px;
		margin:0 auto;     
	}
	&__nav{  
		display:flex;
		height:100px; 
		width:100%;
		z-index:11;     
		align-items:center; 
		justify-content:space-around;
		position:fixed; 
		transition:.5s all; 
		top:0; 
		@media(max-width:768px){
			background:#fff !important;
			height:70px;  
		}   
	} 
	&__logo{
		width:80px;
		cursor:pointer;
		margin-right:100px;
	}
	&__list{
		display:flex;
		width:600px; 
		justify-content:space-between; 
		@media(max-width:768px){
			display:none; 
		}  
	} 
	&__link{
		font-size:15px; 
		color:#fff;
		cursor:pointer;
		transition:.3s color;
		transition:.5s all;  
		&:hover{
			color:#C6576B;
		}
	}
	&__burger{
		display:none;
		flex-direction:column;
		width:35px;
		height:40px;
		margin-bottom:10px; 
		align-self: flex-end;
		@media(max-width:768px){
			display:flex; 
		}
		#burger-line{
			margin:10px 0px 10px 0px;
		}
		span{
			height:2px;
			top:0;
			transition:.5s transform,top .5s; 
			width:100%;
			position:relative; 
			display:flex;
			background:#fff;  
			@media(max-width:768px){
				background:#000 !important; 
			}   
		}    
	}
	&__content{
		display:flex;
		flex-direction:column;
		align-items:center;   
	}
	&__title{
		color:#fff;
		font-size:23px;
		font-weight:500;
		font-family: 'Montserrat', sans-serif;
		text-align:center;    
	}
	&__subtitle{
		font-size: 54px;
		color: #fff;
		text-align:center;
		font-weight:700; 
		font-family: 'Montserrat', sans-serif; 
		margin:20px 0px 20px 0px;
	}
	&__text{
		line-height: 1.8;
    	color: rgba(255, 255, 255, 0.75);
    	text-align:center;
    	font-size:15px;  
	}
	&__download{
		font-size: 14px;
   		font-weight: 700;
   		color: #fff;
   		margin-top:20px;
   		background:transparent;
   		border:2px solid #fff;
   		border-radius: 30px;  
   		padding: 15px 32px;
   		transition: all 0.5s;
   		text-transform: uppercase;
   		letter-spacing: 0.6px;
   		&:hover{
   			background:#fff;
   			color:#000;
   		}
	}
	&__button{
		@media(max-width:768px){
			height:0px;
			width:0px; 
			border:0px solid #fff;
		}
		height:50px;
		width:30px;
		border-radius:30px;
		position:absolute;  
		border:2px solid #fff;
		margin-bottom:20px;
		bottom:20px;
		cursor:pointer; 
		animation:headBtn 1.8s ease-in-out 1s infinite normal; 
		&:after{
			@media(max-width:768px){
				height:0px;
				width:0px; 
				border:0px solid #fff;
			}
			content:" ";
			position:absolute;
			background:#fff;
			height:8px;
			width:3px;
			top:25px;
			left:47%;
			border-radius:30px;
		}   
	}
}
@keyframes headBtn{
	0%{
		bottom:20px;
	}
	70%{
		bottom:65px;
	}
	80%{
		bottom:20px;
	}
	90%{
		bottom:45px;
	}
	100%{
		bottom:20px;
	}
}
.about{
	min-height:610px;
	padding: 120px 20px 100px 20px;
	background:#2E3135;
	width:100%;
	@media(max-width:1024px){
		padding: 80px 20px 60px 20px;
	}
	@media(max-width:768px){
		padding: 50px 20px 40px 20px;	
	}
	&__conteiner{
		max-width:1200px;
		margin:0 auto;
		display:flex;
		@media(max-width:768px){
			flex-direction:column; 
		}    
	}
	&__photo{
		height:400px;
		max-width:540px;
		border:3px solid #3B3E42;
		border-radius:5px;
		margin-right:40px; 
		@media(max-width:768px){
			max-width:100%;
			margin-right:0px; 
			margin-bottom:30px; 
		} 
		img{
			object-fit:cover;
			object-position:center;
			width:100%;
			height:100%;      
		}   
	} 
	&__content{
		display:flex;
		flex-direction:column;
	} 
	&__title{
		font-family: 'Montserrat', sans-serif;
		font-size:30px;
		color:#fff;
		font-weight:700;  
	}
	&__subtitle{
		color:#fff;
		font-family: 'Montserrat', sans-serif;
		font-weight:500; 
		font-size:26px;
		margin:30px 0px 30px 0px;
	}
	&__text{
		color:#a0a0ac;
		line-height:1.5;
		font-size:14px; 
		margin:0px 0px 20px 0px; 
	}
	&__icons{
		display:flex; 
	}
	&__icon{
		cursor: pointer;
		font-size:40px;
		color:#A0A0AC;
		transition:.3s all; 
		margin-right:20px;
		&:last-child{
			margin-right:0px;
		} 
		&:hover{
			color:#C6576B;
		}
	}
}
.head__title{
	font-family: 'Montserrat', sans-serif;;
	font-size:30px;
	color:#fff;
	text-align:center;
	margin-bottom:25px; 
	span{
		font-weight:700;  
	}
}
.head__subtitle{
	color:#a0a0ac;
	font-size:14px;
	text-align:center; 
	margin-bottom:90px;
	@media(max-width:768px){
		margin-bottom:50px;	
	}  	
}
.services{
	width:100%;
	padding: 120px 20px 100px 20px;
	background:#26282B; 
	@media(max-width:1024px){
		padding: 80px 20px 60px 20px;
	}
	@media(max-width:768px){
		padding: 50px 20px 20px 20px;	
	} 
	&__conteiner{
		max-width:1200px;
		margin:0 auto;
		display:flex;
		flex-direction:column;
		align-items:center;    
	}
	&__items{
		display:flex; 
		margin-bottom:20px;
		&:last-child{
			margin-bottom:0px;
		}
		@media(max-width:768px){
			flex-direction:column; 
			margin-bottom:0px;	
		} 
	}
	&__item{
		display:flex;
		flex-direction:column;
		align-items:center;
		transition:.3s all; 
		border:1px solid #353941;
		border-radius:5px;
		margin-right:20px;
		padding:20px 10px 40px 10px;
		&:last-child{
			margin-right:0px;
		} 
		&:hover .services__line{
			width:60px;  
		}
		&:hover{
			border:1px solid #C6576B;
		}
		@media(max-width:768px){
			margin-right:0px;
			margin-bottom:20px; 	
		}
	}
	&__title{
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size:22px;
		text-align:center; 
		color:#fff; 
	}
	&__line{
		background:#C6576B;
		height:2px;
		width:30px;
		transition:.3s all;
		margin:10px 0px 10px 0px ;    
	}
	&__text{
		color:#a0a0ac;
		font-size:14px;
		text-align:center;
	}
	&__img{
		font-size:40px;
		color:#C6576B; 
		margin-bottom:20px; 
	}
}
.freelace{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;    
	background:#2E3135; 
	padding: 120px 20px 100px 20px;
	&__title{
		font-family: 'Montserrat', sans-serif;
		font-size:23px;
		text-align:center;
		color:#fff;
		font-weight:600;  
	}	
}
.client{
	width:100%;
	background:#26282B; 
	padding: 120px 20px 100px 20px;
	@media(max-width:1024px){
		padding: 80px 20px 60px 20px;
	}
	@media(max-width:768px){
		padding: 50px 20px 20px 20px;	
	} 
	&__conteiner{
		max-width:1200px;
		margin:0 auto;
		display:flex;
		flex-direction:column;    
	}
	&__slider{  
		min-width:0;
		background:#26282B; 
		padding:0px 0px; 
	}
	&__img{
		color:#C6576B;
		font-size:40px; 
	}
	&__item{
		@include flexbox;
		flex-direction:column;
		width:300px;
		cursor:pointer; 
		align-items:center; 
	}
	&__photo{
		width:100px;
		height: 100px;
		overflow:hidden;
		border:4px solid #3B3E42; 
		border-radius:50%; 
		margin:20px 0px 20px 0px;
		img{
			width:100%;
			height: 100%;
			object-fit:cover;
			object-position: center;  
		} 
	}
	&__phrase{
		font-size: 18px;
		color: #a0a0ac;
		font-style:italic;
		text-align:center; 
		margin:0px 0px 20px 0px; 
	}
	&__name{
		font-size: 16px;
		text-align:center;
		color:#fff; 
	}
}
.slick-list{
	overflow:hidden; 
}
.slick-track{
	@include flexbox; 
}
.slick-dots{
	@include flexbox;
	justify-content:space-between;
	margin:70px auto 0px auto;
	width:70px;    	
}
.slick-dots li{
	list-style:none;  
}
.slick-dots button{
	font-size:0px;
	height:5px;
	transition:.5s all; 
	width: 12px;
	border-radius:10px; 
	background: #C6576B;
}
.slick-dots li.slick-active button{
	width: 20px;
}
.slick-slide{
	@include flexbox;
	flex-direction:column;
	width:300px;
	align-items:center; 
}

.works{
	width: 100%;
	background:#2E3135; 
	padding: 120px 20px 100px 20px;
	@media(max-width:1024px){
		padding: 80px 20px 60px 20px;
	}
	@media(max-width:768px){
		padding: 50px 20px 20px 20px;	
	}
	&__conteiner{
		max-width:1200px;
		margin:0 auto;
		@include flexbox;
		flex-direction:column;
		align-items:center;   
	} 
	&__tabs{
		@include flexbox;
		flex-wrap:wrap;  
		justify-content:space-between;
		margin-bottom:40px;   
	} 
	&__tab{
		padding:10px 20px 10px 20px;
		border-radius:30px;  
		color:#fff; 
		margin-bottom:10px; 
		font-weight:600;
		cursor:pointer;  
	}
	&__items{
		@include flexbox;
		width:100%;
		justify-content:space-between; 
		flex-wrap:wrap;
		transition:.5s all;  
		@media(max-width:900px){
			flex-direction:column; 
		}
	}
	&__item{
		width:350px;
		height:230px; 
		overflow:hidden;
		position:relative; 
		margin-bottom:30px; 
		border-radius:5px;
		transition:.5s all;
		@media(max-width:1150px){
			width:280px; 
		}
		@media(max-width:900px){
			width:100%;  
		}
		&-text{
			color:#fff;
			font-size:23px;
			font-weight:600; 
			position:relative;
			top:60%;
			transition:.5s all;   
			letter-spacing:2px;  
		}
		&:hover &-text{
			top:0;
		}  
		&:hover .works__wrapper{
			opacity:1; 
		}
		&:hover img{
			@include transform(scale(1.3));   
		}
		img{
			height:100%;
			width:100%;
			object-fit:cover;
			transition:.5s all;
			object-position:center;    
		} 
	}
	&__wrapper{
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		@include flexbox;
		justify-content:center;
		align-items: center; 
		z-index:1; 
		opacity:0;
		transition:.5s all; 
		background:rgba(#eee,0.1);    
	} 	
}
.contacts{
	width:100%;
	background:#26282B; 
	padding: 120px 20px 100px 20px;
	@media(max-width:1024px){
		padding: 80px 20px 60px 20px;
	}
	@media(max-width:768px){
		padding: 50px 20px 20px 20px;	
	}
	&__conteiner{
		@include flexbox;
		flex-direction:column;
		margin: 0 auto;
		max-width:1200px;
		align-items:center; 
	}
	&__items{
		@include flexbox;		
		width:100%;
		justify-content:space-around;
		margin-bottom:30px;
		@media (max-width:768px){
			flex-direction:column;    	
		}    
	} 
	&__item{
		@include flexbox;
		flex-direction:column;
		align-items:center;
		@media (max-width:768px){
			margin-bottom:20px;
			&:last-child{
				margin-bottom:0px;
			}     	
		}  
	}
	&__icon{
		color:#C6576B;
		font-size:40px; 
	}
	&__title{
		font-size:20px;
		font-family:"Monserrat" , sans-serif; 
		font-weight:600px;
		color:#fff;
		margin:10px 0;  
	}
	&__subtitle{
		font-size:16px;
		color:#9E9EAA; 
	}
	&__form{
		width:100%;
		@include flexbox;
		flex-direction:column;   
	}
	&__inputs{
		width:100%;
		@include flexbox; 
		@media (max-width:768px){
			flex-direction:column;    	
		} 
	}
	&__name{
		width:100%;
		height: 50px;
		margin-right:30px;
		@media (max-width:768px){
			margin-right:0px;
			margin-bottom:20px;    	
		}  
	}
	&__email{
		width:100%;
		height: 50px; 
	}
	&__subject{
		width:100%;
		height: 50px;
		margin:20px 0px 20px 0px; 
	}
	&__massage{
		min-width:100%;
		max-width:100%;  
	}
	&__input{
		background:transparent;
		border-radius:7px;
		border:2px solid #3B3E42;
		transition:.5s all;
		color:#fff;
		padding:5px 0px 0px 15px;
		font-size:16px;   
		&:focus{
			border:2px solid #C6576B;
		}   
	}
	&__button{
		align-self: flex-end;
		padding: 15px 32px;
		letter-spacing: 0.6px;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		margin-top:20px; 
		border-radius:5px;
		background:#C6576B; 
		font-size: 14px;
	}

}
.footer{
	width:100%;
	background:#2E3135; 
	padding: 120px 20px 100px 20px;
	@include flexbox;
	justify-content:center; 
	@media(max-width:1024px){
		padding: 80px 20px 60px 20px;
	}
	@media(max-width:768px){
		padding: 50px 20px 20px 20px;	
	}
	&__conteiner{
		@include flexbox;
		flex-direction:column;
		align-items:center;  
	}
	&__icons{
		@include flexbox;
		margin-bottom:20px; 
	}
	&__text{
		font-size:16px;
		color:#A0A0AC;
	}
}

.tab-bg{
	background:#C6576B; 
}